
/*
 Theme Name:   hellochild
 Theme URI:    http://example.com/hellochild/
 Description:  Description de mon hellochild
 Author:       killian
 Author URI:   http://example.com/
 Template:     hello-elementor
 Version:      1.0.0
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://fonts.gstatic.com/s/droidserif/v18/tDbI2oqRg1oM3QBjjcaDkOr9rAU.woff2');

h1{
	color: #3e4749 !important;
	font-family: Lato, sans-serif !important;
}
h2{
	color: #ff4b01 !important;
	font-family: Lato, sans-serif !important;
}
p{
	font-family: Droid, serif !important;
}
.entry-title{
	text-align:center !important;
}
.woocommerce-loop-product__title{color:#faa000 !important;}
.entry-title a{color:#faa000 !important;}
.woocommerce-breadcrumb{display:none !important;}
.elementor-button-text{color:#faa000 !important;}
.elementor-button-text:hover{color:#ff4b01 !important;}
.menu a {
   color: #3e4749!important;
  }
.menu a:hover{
	color:#ff4b01 !important
}
.input-text{
	width:100px !important;
}
.site-branding {
	background-image: url(https://zupimages.net/up/22/13/85bu.png) !important;
	height: 132px !important;
	max-width: 230px !important;
	max-height: none !important;
	background-size: cover !important;
	object-fit: cover !important;
  }
  .site-title {
	display: none !important;
  }
  .site-description {
	opacity:0!important;
  }